# LLM providers
DEEPSEEK_API_KEY=
OPENAI_API_KEY=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_ADDR=
REDIS_PASSWORD=

# Gateway
HTTP_ADDR=
